.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);    

}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navlist-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

/* Căn giữa icon với chữ */
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
    line-height: 26px;
}

/* header qr code */
.header__qr {    
    background-color: var(--white-color);
    width: 188px;
    position: absolute;
    left: 0;
    top: 120%;
    /* margin-top: 4px; */
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in-out .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.header__qr::before {
    content: "";
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    top: -16px;
    /* background-color: black; */
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-img {
    width: 100%;
}

.header__qr-download-img {
    height: 16px;
}

.header__qr-link:first-child {
    margin-left: 10.5px;
}

.header__qr-link:last-child {
    margin-right: 10.5px;
}

/* hien qr code */
.header__navbar-has-qr:hover .header__qr{
    display: block;
    z-index: 1;
    /* opacity: 1 !important; */
}
/* hien notify */
.header__navbar-item--has-notify:hover .header__notify {
    display: block;

}

/* header-notify */
.header__notify {
    z-index: 1;
    display: none;
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: 85% top;
    will-change: opacity transform;
    animation: headerNotifyGrowth ease-in .2s;
}

.header__notify::before {
    position: absolute;
    right: 14px;
    top: -30px;
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 30px;
    right: 0;
    top: -11px;
    /* background-color: #f53e2d; */
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {

}

.header__notify-item:hover {
    background-color: rgba(241, 241, 241, 0.7);
}

.header__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin: auto;
}

.header__notify-description {
    margin-left: 12px;
    display: block;
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.6rem;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    /* margin: auto; */
    text-align: center;
}


/* Authen modal */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
    
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 84px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-btn-back {
    background-color: transparent;
    margin-right: 8px;
}

.auth-form__controls-btn-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.btn-with--icon {
    height: 34px;
    font-size: 1.2rem;
    padding: 0 8px;
    min-width: 208px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}


.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socials--google {
    background-color: var(--white-color);
}

.auth-form__socials-title {
    margin:0 24px ;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;    
}

.auth-form__help--link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    border-left: 1px solid #eaeaea;
    margin: 0 16px;
}

.auth-form__help--forgot {
    color: var(--primary-color);
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 202px;
}

.header__logo-img {
    width: 162px;
}   

.header__search {
    display: flex;
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    justify-content: space-around;
    align-items: center;
}

.header__cart {
    text-align: center;
    width: 150px;
}

.header__cart-wrap {
    display: inline-block;
    padding: 0 8px;
    position: relative;
    cursor: pointer;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 13px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    background-color: var(--white-color);
    color: var(--white-color);
    top: calc(100% + 8px);
    right: -1px;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in .2s;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 1px;
    top: -23px;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 28px 0;
}

.header__cart-no-cart-img {
    width: 54%;
}

.header__cart-list-no-cart-msg {
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    margin-top: 14px;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 14px;
    border-radius: 2px;
}

.header__search-btn {
    height: 84%;
    width: 60px;
    border: none;
    outline: none;    
    border-radius: 4px;
    background-color: #fa4f2f;
    margin-right: 3px;
}

.header__search-btn:hover {
    cursor: pointer;
    opacity: .7;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    background-color: var(--white-color);
    width: calc(100% - 16px);
    box-shadow: 0 1px 5px rgb(190, 190, 190);
    border-radius: 3px;
    display: none;
}

.header__search-history-heading {
    margin: 8px 14px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 16px;
}

.header__search-history-item:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item a {
    text-decoration: none;
    line-height: 38px;
    font-size: 1.4rem;
    color: var(--text-color);
}